<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Calendário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-datetime
          #datetime
          size="cover"
          locale="pt-BR"
          presentation="date"
          [firstDayOfWeek]="1"
          [showDefaultTitle]="true"
          [formatOptions]="{
            time: { hour: '2-digit', minute: '2-digit' },
            date: { day: '2-digit', month: 'long', weekday:'long' },
          }"
          (ionChange)="onSelectDate($event)"
        >
          <span slot="title">Seleciona uma data</span>
        </ion-datetime>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
