<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <h1>Olá <ion-text>{{welcomeMessage}}</ion-text></h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-datetime
            [ngClass]="platform.is('ios') ? 'ios-padding':''"
          #datetime
          size="cover"
          locale="pt-BR"
          presentation="date"
          [firstDayOfWeek]="1"
          [showDefaultTitle]="true"
          [highlightedDates]="highlightedDates"
          [formatOptions]="{
            time: { hour: '2-digit', minute: '2-digit' },
            date: { day: '2-digit', month: 'long', weekday:'long' },
          }"
          (ionChange)="onSelectDate($event)"
        >
          <span slot="title">Seleciona uma data</span>
        </ion-datetime>

          <ion-buttons id="action-buttons">
          <ion-button
            *ngIf="showAddTrainingButton"
            color="primary"
            (click)="addTraining()"
            >Adicionar treino</ion-button
          >

          <ion-button
            *ngIf="showTrainingsButton"
            color="primary"
            (click)="showTrainings()"
          >
            Ver treinos
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
