<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text id="welcome-title">
          Gerencie <br />
          seus treinos de <br />
          forma fácil
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-img src="./assets/man-workout.jpg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text id="welcome-description">
          A partir de agora você poderá <br />
          organizar seus treinos e séries <br />
          na palma da sua mão.
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col class="ion-text-center">
        <ion-button color="green" shape="round" id="arrow-forward" (click)="goConfirmantionPage()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
